@font-face {
    font-family: GoogleSans-Regular;
    src: url(/fonts/GoogleSans-Regular.ttf);
}
@font-face {
    font-family: GoogleSans-Bold;
    src: url(/fonts/GoogleSans-Bold.ttf);
}
:root {
    --brand-primary: #4a91f6;
}

a {
    text-decoration: none;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: #f8f8fb;
    font-family: GoogleSans-Regular;
    background-image: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
}
#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    height: 500px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15) !important;
    border-radius: 6px;
    background: #FFFFFF;
}
#app .heading {
    margin-bottom: 20px;
}
#app .heading h1 {
    font-size: 18px;
    line-height: 18px;
    font-family: GoogleSans-Bold;
    text-transform: uppercase;
    color: var(--brand-primary);
}
#app .body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#app .body .list-work li {
    position: relative;
}
#app .body .list-work li label {
    display: block;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    background: #F2F2F2;
}
#app .body .list-work li label:hover {
    opacity: .8;
}
#app .body .list-work li span {
    word-break: break-word;
    font-family: GoogleSans-Bold;
}
#app .body .list-work li:not(:first-child) {
    margin-top: 10px;
}
#app .body .list-work .btn-delete {
    color: #FFFFFF;
    flex-basis: 20%;
    position: absolute;
    z-index: 9;
    top: 0;
    bottom: 0;
    right: 0;
    background: #d9534f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 0 6px 6px 0;
}

#app .body .action-add {
    display: flex;
    margin-bottom: 20px;
}
#app .body .action-add input {
    padding: 12px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #EEEEEE;
    flex-grow: 1;
    font-family: GoogleSans-Bold;
    color: #989898
}
#app .body .action-add input::placeholder {
    color: #989898
}
#app .body .action-add a {
    margin-left: 5px;
    display: inline-block;
    background: var(--brand-primary);
    color: #FFFFFF;
    border-radius: 4px;
    padding: 12px 16px;
    font-family: GoogleSans-Bold;
}
#alert {
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    padding: 20px;
    border-radius: 6px;
    min-width: 200px;
    min-height: 40px;
    display: flex;
    align-items: center;
    font-family: GoogleSans-Bold;
    opacity: 0;
    transition: .5s;
}
#alert.active {
    opacity: 1;
}
#alert.success {
    background: rgba(23, 189, 87, 0.8);
}
#alert.fail {
    background: rgba(202, 25, 13, 0.8);
}
